.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #151521;
}

.main-wrapper {
  flex: 1;
  margin-left: 250px; /* Sidebar width */
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 60px; /* Topbar height */
  padding: 20px;
  color: #fff;
  flex: 1;
  overflow-y: auto;
}
